<a href="/entries">Past Entries</a>
<br>
<a href="/">Back to Home</a>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Date: {{entry.title}}</h1>
    <p><b>Rating: </b><a href="/ratings/{{entry.rating}}">{{entry.rating}}</a></p>
    <p><b>Tags: </b> {{#each entry.tags}}
      <a href="/tags/{{this}}"><i>{{this}}...</i></a><i> </i>
    {{/each}}
    </p>

    <p><a href="/entries/{{entry._id}}/edit">Edit</a></p>

    <p><form method="POST" action="/entries/{{entry._id}}?_method=DELETE">
        <button type="submit">Delete</button>
    </form></p>

    <hr>

    {{> comments-form}}

    <hr>

    {{#each comments}}
      {{> comment}}
    {{/each}}

  </div>
</div>
