<a href="/">Back to Home</a>

<h1>Date: {{entry.title}}</h1>
<h2>Rating: {{entry.rating}}</h2>
<p>Tags: {{entry.tags}}</p>

<p><a href="/entries/{{entry._id}}/edit">Edit</a></p>

<p><form method="POST" action="/entries/{{entry._id}}?_method=DELETE">
    <button type="submit">Delete</button>
</form></p>
