<br>
<a href="/">Back to Home</a>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Entries rated <b><i>"{{rating}}"</i></b></h1>
    <h2>Top tags: <b>{{topThreeTags}}</b></h2>
    <br>
    {{#each entries}}
      <div class="rated-entry">
        <h2>Date: <a href="/entries/{{this._id}}">{{this.title}}</a></h2>
        <p><b>Rating: </b>{{this.rating}}</p>
        <p><b>Tags: </b><i>{{this.tagsString}}</i></p>
      </div>
    {{/each}}
  </div>
</div>