<a href="/">Back to Home</a>

<h1>Entries rated <b><i>"{{rating}}"</i></b></h1>

{{#each entries}}
  <h2>Date: <a href="/entries/{{this._id}}">{{this.title}}</a></h2>
  <p><b>Rating:</b> {{this.rating}}</p>
  <p><b>Tags:</b> {{this.tags}}</p>
{{/each}}
